h1{
    color: #3286A2;
    text-align: center;
}

h3{
  color: grey;
  text-align: center;
}

h2{
  text-align: center;
  
}

h4{
  color: #3286A2;
}

#summary{
  color:grey;
  height: 500px;
}

#summary-div{
    position: relative;
    top: 100px;
}

button{
    position: relative;
    bottom: 200px;
}