h1{
    color: #3286A2;
    text-align: center;
}

h3{
    color: grey;
    text-align: center;
}


#form{
 
    text-align: center;
    /*padding-left: 100px; */
    /*padding-right:100px;*/
}

/*@media (min-width: 768px) {*/
/*    h1 {*/
/*        font-size: 35px;*/
/*    }*/
/*    h3 {*/
/*        font-size: 30px;*/
/*    }*/
   

/*}*/

/*@media (min-width: 992px) {*/
/*    h1 {*/
/*        font-size: 40px;*/
/*    }*/
/*    h3 {*/
/*        font-size: 35px;*/
/*    }*/
   
/*}*/


/*@media (min-width: 1200px) {*/
/*    h1 {*/
/*        font-size: 45px;*/
/*    }*/
/*    h3 {*/
/*        font-size: 40px;*/
/*    }*/
   

/*}*/
